# Dependencies
node_modules/


# Build outputs
dist/
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp

# Large resource folders (not needed in version control)
public/9dixingtu/
san10pk_99026/
